.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.item {
  background-color: rgb(236, 128, 236);
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4px ;
  padding: 8px;

}

.item.completed {
  background-color: #d17d7c;
  text-decoration: line-through;
}